---
import '../styles/global.css'
import { Font } from 'astro:assets';

interface Props {
	title?: string;
	description?: string;
	socialMediaDescription?: string;
	image?: string;
}

const { 
	title = "Nanda Flores - Buquês, Arranjos e Cestas", 
	description = "Floricultura em Angra dos Reis. A Nanda Flores cria lindos buquês, arranjos e cestas para todas as ocasiões. Surpreenda quem você ama com os presentes feitos com profissionalismo.", 
	socialMediaDescription = "A Nanda Flores cria lindos buquês, arranjos e cestas para todas as ocasiões. Surpreenda quem você ama com presentes feitos com profissionalismo. ",
	image = "/og-image.jpg" 
}:Props = Astro.props; /* if you don't pass a image prop on page.astro, it uses '/og-image.jpg', usually a good size for an og-image is 1200x630, assume the edges might be cut sometimes and the image get squared */

const canonicalURL = new URL(Astro.url.pathname, Astro.site); /* unifies pathname ("/about", "/contact") of the current page with the page main url on astro.config.mjs (https://www.nandaflores.com.br/) */
const imageURL = new URL(image, Astro.site); 
---

<!doctype html>
<html lang="pt-br" class="scroll-smooth">
	<head>
		<Font cssVariable="--font-noto-sans" />
		<Font cssVariable="--font-playfair-display" />
		
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		{/* website icon */}
		<link rel="icon" type="image/png" href="/icon.svg" />

		{/* generator defines astro current version, Astro.generator returns something like “Astro v4.0.0” */}
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="description" content={description} />

		{/* this tells the google search engine that 'https://www.nandaflores.com.br/_sectionname_' is the oficial current 
		page url, this way even if users access the same page by any other links (http, without www, etc), google will 
		consider they are acessing the canonical url instead */}
		<link rel="canonical" href={canonicalURL} />

		{/* opengraph meta-tags for social media (the card when sharing links) */}
		<meta property="og:title" content={title} />
		<meta property="og:description" content={socialMediaDescription} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:image" content={imageURL} />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Nanda Flores" /> 
		<meta property="og:locale" content="pt_BR" /> 
		
		{/* opengraph meta-tags for twitter only */}
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={socialMediaDescription} />
		<meta name="twitter:url" content={canonicalURL} />
		<meta name="twitter:image" content={imageURL} />
	</head>
	<body class="font-noto-sans min-h-screen w-full antialiased">
		<slot />
	</body>
</html>